{% extends "base.html" %}
{% load i18n %}

{% block menu %}
    {% include 'menu.html' with active='data' %}
{% endblock %}

{% block content %}
<div class="span12">
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="myTab2">
      <li class="active"><a href="#data-list" data-toggle="tab">{% trans "Rinkmenų sąrašas" %}</a></li>
      <li><a href="#upload-data" data-toggle="tab">{% trans "Įkelti duomenis" %}</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="data-list">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>{% trans "Pavadinimas" %}</th>
                  <th>{% trans "Licencija" %}</th>
                  <th>{% trans "Dydis" %}</th>
                  <th>{% trans "Veiksmai" %}</th>
                  <th>{% trans "Atsisiųsti" %}</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Sintetiniai normaliai pasiskirstę stipriai persidengiantys duomenys</td>
                  <td>Privatūs</td>
                  <td>24MB</td>
                  <td>
                      <div class="btn-group" >
                          <button type="button" class="btn btn-small"><i class="icon-eye-open"></i></button>
                          <button type="button" class="btn btn-small"><i class="icon-edit"></i>
                          <button type="button" class="btn btn-small"><i class="icon-trash"></i></button>
                      </div>
                  </td>
                  <td>
                      <div class="btn-group" >
                          <button type="button" class="btn btn-small">{% trans "CSV" %}</button>
                          <button type="button" class="btn btn-small">{% trans "ARFF" %}</button>
                          <button type="button" class="btn btn-small">{% trans "XLS" %}</button>
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
    <div class="tab-pane" id="upload-data">

    <div class="span8 offset3">
        <form method='POST' action='.'>
            {{ form.as_p }}
            <input type='submit' class="btn btn-primary" value="{% trans "Įkelti duomenis" %}" />
        </form>
    </div>

    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
    <script src="/static/js/bootstrap-tab.js" type="text/javascript"></script>
{% endblock %}

