{% extends "base.html" %}
{% load i18n %}

{% block menu %}
    {% include 'menu.html' with active='home' %}
{% endblock %}

{% block content %}
    <div class='content-about'>
        <div class='logo-div'><img class="logo" src='/static/img/logo.png'/></div>
        <ul>
            <li>&nbsp;&nbsp;&nbsp;{% trans "Tai <b>atvira mokslo infrastruktūra</b>, skirta mokslą norintiems kurti Lietuvos piliečiams." %}</li>
            <li>&nbsp;&nbsp;&nbsp;{% trans "Pagrindinis įrankis mokslininkams, bet tinka tiek verslui, siekiančiam praktiškai taikyti mokslo žinias, tiek ir individualiems programuotojams, norintiems išbandyti savo jėgas." %}</li>
            <li>&nbsp;&nbsp;&nbsp;{% trans "Įrankis maksimaliai orientuotas į atvirumą, perpanaudojamumą, siekiant sukurti idealią nišą <b>skaičiuojamąjam</b> bei <b>mokslo taikomąjam</b> verslui kurtis." %}</li>
        </ul>
    </div>
{% endblock %}
