{% load i18n %}
<div class="span12 navbar-align">
    <div class="navbar">
        <div class="navbar-inner">
        <ul class="nav">
            <li class="{% if active == "home" %}active{% endif %}"><a href="/"><img src="/static/img/home_icon.png"/></a></li>
            <li class="{% if active == "data" %}active{% endif %}"><a href="#">{% trans "Duomenys" %}</a></li>
            <li class="{% if active == "algorithms" %}active{% endif %}"><a href="#">{% trans "Algoritmai" %}</a></li>
            <li class="{% if active == "experiments" %}active{% endif %}"><a href="#">{% trans "Eksperimentai" %}</a></li>
        </ul>
        <ul class="nav pull-right">
            {% if user.is_authenticated %}
                <li><a href="/logout"><b>{{ user }}</b> <span class="helptext">{% trans "(Atsijungti)" %}</span></a></li>
            {% else %}
                <li class="{% if active == "login" %}active{% endif %}"><a href="/login">{% trans "Prisijungti" %}</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
</div>
