{% load i18n %}
<div class="span12 navbar-align">
    <div class="navbar">
        <div class="navbar-inner">
        <ul class="nav pull-right">
            {% if user.is_authenticated %}
                <li><a href="/logout"><b>{{ user }}</b> <span class="helptext">{% trans "(Atsijungti)" %}</span></a></li>
            {% else %}
                <li class="{% if active == "login" %}active{% endif %}"><a href="/login">{% trans "Prisijungti" %}</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
</div>
