[buildout]
parts =
    django
    ctags

develop = .

eggs =
    django-debug-toolbar
    django-test-utils
    django-nose
    nose-selecttests
    djangorestframework
    damis
    django-filter
    South
    numpy

versions = versions


[versions]
django = 1.5.1

[django]
recipe = djangorecipe
projectegg = damis
eggs = ${buildout:eggs}
wsgi = true

[ctags]
recipe = z3c.recipe.tag:tags
eggs = ${buildout:eggs}
