@font-face {
    font-family: Open Sans Light;
    src: url("/static/open-sans.light.ttf");
    /* font-weight, font-style ==> default to normal */
}


/* ---- Body ---- */
body {
    padding-top: 20px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    max-width: 860px;
}

.navbar a:hover, .navbar a:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.125) inset;
}

/* ---- Body about ---- */
.logo {
    width: 170px;
}

.logo-div {
    text-align: center;
    padding-bottom: 17px;
}

.top-space{
    padding-top: 50px;
}

.content-about {
    padding: 80px;
    font-family: 'Open Sans Light',sans-serif;
    font-size: 14px;
}

.content-about li {
    list-style-type: none;
    padding-bottom: 10px;
}




/* ---- Extra ---- */
.login-form {
    padding: 80px;
    margin:0 auto !important;
    float:none !important;
}

.helptext {
    color: gray;
    font-size: 11px;
    line-height: 0.8;
}

.errorlist {
    color: #A60000;
    list-style-type: none;
    display: inline-block;
    max-width: 300px;
    vertical-align: middle;
}

.error-message {
    padding: 20px; margin-bottom: 20px; border: 1px solid #EEE; -moz-border-radius:4px; border-radius:4px; color: #A60000; 
}

/* ---- Footer ---- */
.footer {
    width: 600px;
    margin: auto;
    text-align: center;
    float: none;
    margin-top: -20px;
}

.attribution {
    text-align: center;
}

h3 {
    font-size: 1em;
    line-height: 2em;
}

.row-fluid .span12 {
    margin-left: 0;
}

.dynamic-form p {
    margin: 0px;
}

textarea {
    height: 60px;
}

#component-form .delete-row {
    display: inline;
}

.component-form-urls {
    display: none;
}

/* tooltips */
.popover-content { word-wrap: break-word; }
.popover { width: 276px; }
.tab-content { overflow: visible; }
.file-content-table td, .file-content-table th {padding: 4px; border: 1px solid #bbb}

/* color picker */
.color-selector {width: 28px; height: 28px; margin: 4px; vertical-align: middle; display: inline-block; cursor: pointer;}

.render-choices input, .render-choices select {margin-bottom: 0px;}

.colpick {z-index: 9999;}
.req {font-weight: bold; color: #A60000}
.message {margin-bottom: 20px;}

.damis-list {margin-top: 5px;}
    .damis-list thead {background-color: #f5f5f5;}
    .damis-list .c, .damis-list .c {text-align: center}
    .damis-list .selected-row {background-color: #f5f5f5;}
table {max-width: none}
