{% load i18n %}
{% load disable_if_connection from damis %}

<div style="{% if parameter.connection_type == 'OUTPUT_CONNECTION' %}display:none;{% endif %}{% if parameter.connection_type == 'INPUT_CONNECTION' %}display:none;{% endif %}">
{% for field in form.visible_fields %}
    {% if field.name == 'value' %}
    <span title='{{ parameter.get_description_display }}'
        >{% firstof parameter.get_label_display parameter.name %}
        ({% if parameter.type %}{% trans parameter.type %}{% endif %})</span><br />
        {{ field.errors }}
        {{ field|disable_if_connection }}
    {% endif %}
{% endfor %}
{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
<input id="{{ form.prefix }}-connection_type" type="hidden" value="{{ parameter.connection_type }}" name="{{ form.prefix }}-connection_type"/>
</div>
