{% load i18n %}
{% load disable from damis %}

{{ formset.management_form }}
<td class="parameter-values">
    {% trans 'parameters' %}
    {% for form in formset %}
    <div>
        <input id="{{ form.prefix }}-is_input" type="hidden" value="{{ form.initial.parameter.is_input }}" name="{{ form.prefix }}-is_input">
        <input id="{{ form.prefix }}-is_output" type="hidden" value="{{ form.initial.parameter.is_output }}" name="{{ form.prefix }}-is_output">
        {{ form.source_label }}<br/>
        <span>{{ form.initial.parameter }}</span>
        {{ form.parameter }}<br/> {{ form.value }}<br/>
    </div>
    {% endfor %}
</td>
