{% load i18n %}
{% load disable from damis %}

{% for form in formset.forms %}
    {% if form.initial.parameter %}
    <div style="{% if form.initial.parameter.connection_type == 'OUTPUT_CONNECTION' %}display:none;{% endif %}">
    {% else %}
    <div style="{% if form.instance.parameter.connection_type == 'OUTPUT_CONNECTION' %}display:none;{% endif %}">
    {% endif %}

        {% for field in form.visible_fields %}
            {% if field.name == 'value' %}
                <span>{{ field.label }}</span><br />
                {{ field.errors }}
                {% if form.initial.parameter %}
                <input id="{{ form.prefix }}-value" type="text" name="{{ form.prefix }}-value" maxlength="255"
                    {% if form.initial.parameter.connection_type == 'INPUT_CONNECTION' %}
                    disabled="disabled" value="{% trans "Comes from Connection" %}"{% endif %}>
                {% else %}
                <input id="{{ form.prefix }}-value" type="text" name="{{ form.prefix }}-value" maxlength="255"
                    {% if form.instance.parameter.connection_type == 'INPUT_CONNECTION' %}
                    disabled="disabled" value="{% trans "Comes from Connection" %}"{% endif %}>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <input id="{{ form.prefix }}-connection_type" type="hidden" value="{% firstof form.initial.parameter.connection_type form.instance.parameter.connection_type %}" name="{{ form.prefix }}-connection_type"/>
        <br/>
        {{ form.parameter }}<br/>
    </div>
{% endfor %}
{{ formset.management_form }}
