{% extends "base.html" %}
{% load i18n %}
{% get_current_language as lang %}

{% block menu %}
    {% include 'menu.html' with active='login' %}
{% endblock %}

{% block content %}
    <div class='span6 offset3 top-space'></div>
    <div class='span6 offset3 alert alert-info'>
    {% trans 'To reset your password enter your email. Letter with password recovery URL will be sent.' %}
    </div>
    <div class="span6 offset4 ">
        <form action="{% url 'reset-password' %}" method="post">{% csrf_token %}
            {% include 'damis/_form.html' with form=form %}
            <p><input class="btn btn-primary" type="submit" value="{% trans "Send password recover email" %}" /></p>
        </form>
    </div>
{% endblock %}
