{% load i18n %}

<div style="width: 614px;">
    {% if error %}
        <div class="message">
            {{ error|safe }}    
        </div>
    {% endif %}
    <table class="attribute-choices" style="margin: auto; 20px;">
        <tbody>
            <td style="padding: 5px;">X:
                <select class="x-attr" style="width: 100px;">
                    <option value="-">-</option>
                    {% for name, type in attrs %}
                        {% if type == "integer" or type == "real" %} 
                            <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == x %}selected="selected"{% endif %}>
                                {{ name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td style="padding: 5px;">Y:
                <select class="y-attr" style="width: 100px;">
                    <option value="-">-</option>
                    {% for name, type in attrs %}
                        {% if type == "integer" or type == "real" %}
                            <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == y %}selected="selected"{% endif %}>
                                {{ name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td style="padding: 5px;">{% trans 'Class' %}:
                <select class="cls-attr" style="width: 100px;">
                    <option value="-">-</option>
                    {% for name, type in attrs %}
                        <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == cls %}selected="selected"{% endif %}>
                            {{ name }}
                        </option>
                    {% endfor %}
                </select>
            </td>
        </tbody>
    </table>
    </div>
    {% if not error %}
        <div class="results-container" style="width: 600px; height: 300px; margin: auto;"></div>
        {% if float_cls %}
            <table class="float-cls-choices chart-choices" style="margin: auto; text-align: center">
                <thead>
                    <tr>
                        <th>{% trans 'Color' %}</th>
                        <th>{% trans 'Shape' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div style="width: 250px; margin: auto;">
                                <div class="gradient"></div>
                                
                                <div style="position: relative; height: 17px">
                                    <span style="position: absolute; bottom: 0; left: 0">{{ minCls }}</span>
                                    <span style="position: absolute; bottom: 0; right: 0">{{ maxCls }}</span>
                                </div>
                                
                            </div>
                        </td>
                        <td>
                            <select> 
                                <option value="circle">{% trans 'Circle' %}</option>
                                <option value="square">{% trans 'Square' %}</option>
                                <option value="diamond">{% trans 'Diamond' %}</option>
                                <option value="triangle">{% trans 'Triangle' %}</option>
                                <option value="cross">{% trans 'Cross' %}</option>
                            </select> 
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <table class="render-choices chart-choices" style="margin: auto; text-align: center">
                <thead>
                    <tr>
                        <th>{% trans 'Class' %}</th>
                        <th>{% trans 'Color' %}</th>
                        <th class="hide"></th>
                        <th>{% trans 'Shape' %}</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        {% endif %}
    {% endif %}
</div>

<div style="display:none;" class="download-options">
    <div>
        {% trans 'Select file type' %}:<br />
        <table><tbody>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-type" value="jpeg" checked="checked" />jpeg</td>
            </tr>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-type" value="png" />png</td>
            </tr>
        </tbody></table>
    </div>
    <hr />
    <div>
        {% trans 'Select destination' %}:<br />
        <table><tbody>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-destination" value="user-computer" checked="checked" />{% trans 'User computer' %}</td>
            </tr>
            <tr>
                <td style="padding:5px">
                    <input type="radio" name="file-destination" value="midas" />{% trans 'MIDAS' %}
                    <span style="display: none;" class="not-implemented helptext">{% trans 'This functionality will be negotiated during the 6th activity.' %}</span>
                </td>
            </tr>
        </tbody></table>
    </div>
</div>
