{% load i18n %}
{% load sizify from damis %}
{% load paginate from pagination %}

{% if file_path %}
    <div class="message">
        {% trans 'Dataset used in the experiment' %}: <a href="{{ file_path }}">{{ file_name }}</a>
    </div>
{% else %}
    <div class="message">
        {% trans 'Uploaded files' %}:
    </div>
{% endif %}
<div class="file-list toggle-section">
    <table class="table table-hover damis-list">
         <thead>
             <tr>
                 <th></th>
                 <th>{% trans "Title" %}
                      <a href="{% url 'component-existing-file-form' %}?order_by=title"><i class="icon-chevron-up"></i></a>
                      <a href="{% url 'component-existing-file-form' %}?order_by=-title"><i class="icon-chevron-down"></i></a>
                 </th>
                 <th>{% trans "Size" %}</th>
                 <th>{% trans "Created" %}
                      <a href="{% url 'component-existing-file-form' %}?order_by=created"><i class="icon-chevron-up"></i></a>
                      <a href="{% url 'component-existing-file-form' %}?order_by=-created"><i class="icon-chevron-down"></i></a>
                 </th>
                 <th>{% trans "Description" %}</th>
             </tr>
         </thead>
         <tbody>
           {% for dataset in object_list %}
           <tr {% if dataset.pk == highlight_pk %}class="selected-row"{% endif %}>
                 <td><input type='radio' value="{{ dataset.file.url }}"
                    {% if dataset.pk == highlight_pk %}checked='checked'{% endif %}
                     name="dataset_pk"/></td>
                 <td>{{ dataset.title }}</td>
                 <td>{{ dataset.file.size|sizify }}</td>
                 <td>{{ dataset.created|date:"Y-m-d" }}</td>
                 <td>{{ dataset.description }}</td>
             </tr>
           {% empty %}
           <tr>
               <td colspan="4" style="text-align:center;">
                   {% trans "No files were uploaded yet. You can upload one " %}
                   <a href='{% url 'dataset-new' %}'>{% trans "here" %}</a>.
               </td>
           </tr>
           {% endfor %}
         </tbody>
    </table>
    <hr/>
    {% paginate request paginator page_obj %}
</div>
