{% load i18n %}
<div style="width: 614px;">
<table class="file-content-table" cellspacing="0" cellpadding="0" border="0" >
    <thead>
        <tr>
        {% for header_col in header %}
        <th>{{ header_col.0 }} {% if header_col.1 %}<span class="helptext">({{ header_col.1 }})</span>{% endif %}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in file %}
            <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div style="display:none;" class="download-options">
    <div>
        {% trans 'Select file type' %}:<br />
        <table><tbody>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-type" value="arff" checked="checked" />arff</td>
                <td style="padding:5px"><input type="radio" name="file-type" value="txt" />txt</td>
                <td style="padding:5px"><input type="radio" name="file-type" value="tab" />tab</td>
            </tr>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-type" value="csv" />csv</td>
                <td style="padding:5px"><input type="radio" name="file-type" value="xls" />xls</td>
                <td style="padding:5px"><input type="radio" name="file-type" value="xlsx /">xlsx</td>
            </tr>
        </tbody></table>
    </div>
    <hr />
    <div>
        {% trans 'Select destination' %}:<br />
        <table><tbody>
            <tr>
                <td style="padding:5px"><input type="radio" name="file-destination" value="user-computer" checked="checked" />{% trans 'User computer' %}</td>
            </tr>
            <tr>
                <td style="padding:5px">
                    <input type="radio" name="file-destination" value="midas" />{% trans 'MIDAS' %}
                    <span style="display: none;" class="not-implemented helptext">{% trans 'This functionality will be negotiated during the 6th activity.' %}</span>
                </td>
            </tr>
        </tbody></table>
    </div>
</div>
