{% load i18n %}
<table>
    <tbody><tr>
            <td>
				<div style="overflow: auto; overflow-x: hidden; max-height: 300px; padding-right: 20px;">
                    {% for header_row in header %}
                        {{ header_row }}<br />
                    {% endfor %}
                    <table class="file-content-table">
                        <thead>
                            <tr>
                            {% for header_col in file.0 %}
                                <th>{{ header_col }}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in file %}
                                {% if not forloop.first %}
                                    <tr>
                                    {% for col in row %}
                                        <td>{{ col }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </td> 
    </tr>
    <tr><td>
            {% trans 'Select results file type: ' %}
            <select class="file-type-select"> 
                <option value="tab">tab</option>
                <option value="txt">txt</option>
                <option value="csv">csv</option>
                <option value="xls">xls</option>
                <option value="xlsx">xlsx</option>
                <option value="arff" selected="selected">arff</option>
            </select>
        </td></tr>
    </tbody>
</table>

