{% extends "algorithms.html" %}
{% load i18n %}
{% get_current_language as lang %}
{% load filename from damis %}
{% load paginate from pagination %}

{% block content %}
<div class="span12">
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="myTab2">
      <li class="active"><a href="{% url 'algorithm-list' %}">{% trans "Component list" %}</a></li>
      <li><a href="{% url 'algorithm-new' %}">{% trans "Create component" %}</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="data-list">
      <form id='algorithm-action-form' method='POST' action=''>{% csrf_token %}
      <input type="hidden" value="delete" name="action"/>
      <button class="btn delete-btn" type="button" title="{% trans 'Delete' %}"><i class="icon-trash"></i></button>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th><input class="select-all" type="checkbox"></th>
                  <th>{% trans "Title" %}</th>
                  <th>{% trans "Description" %}</th>
                  <th>{% trans "Actions" %}</th>
              </tr>
          </thead>
          <tbody>

                {% for obj in object_list %}
                <tr>
                    <td><input type='checkbox' value="{{ obj.pk }}" name="pk"/></td>
                    <td> {{ obj.get_label_display }}</td>
                    <td> {{ obj.get_description_display }} </td>
                    <td> 
                        <a class="btn btn-small" title="{% trans 'Edit' %}" href="{% url 'algorithm-update' obj.pk %}">
                            <i class="icon-pencil"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" style="text-align:center;">
                        {% trans "No algorithms were uploaded yet. You can upload one " %}
                        <a href='{% url 'algorithm-new' %}'>{% trans "here" %}</a>.
                    </td>
                </tr>
                {% endfor %}
          </tbody>
        </table>
      </form>
    <hr/>
    {% paginate request paginator page_obj %}
    </div>
  </div>
  {% include 'damis/_delete_dialog.html' %}
</div>
{% endblock %}

{% block javascript_footer %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            window.utils.initDeleteConfirm("#algorithm-action-form");
        });
    </script>
{% endblock %}
