{% extends "base.html" %}
{% load i18n %}
{% get_current_language as lang %}

{% block menu %}
    {% include 'menu.html' with active='algorithms' %}
{% endblock %}

{% block content %}
<div class="span8 offset3">
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <fieldset>
            <legend>Algorithm Parameter</legend>
            {{ parameter_form.management_form }}
            {{ parameter_form.non_form_errors }}
            {% for form in parameter_form %}
                {{ form.id }}
                <div class="inline"> 
                    {{ form.as_p}}
                </div>
            {% endfor %}
        </fieldset>
        <button class="btn" type='submit'>{% trans "Save" %}</button>
    </form>
</div>
{% endblock %}
