{% extends "components.html" %}
{% load i18n %}
{% get_current_language as lang %}

{% block content %}
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="myTab2">
      <li><a href="{% url 'component-list' %}">{% trans "Component list" %}</a></li>
      <li class="active"><a href="{% url 'component-new' %}">{% trans "Create component" %}</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="data-list">
    <div class="span8 offset3">
    <form id="component-form" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <fieldset>
            <legend>{% trans 'Component Parameters' %}</legend>
            {{ parameter_form.management_form }}
            {{ parameter_form.non_form_errors }}
            {% for form in parameter_form %}
                {{ form.id }}
                <div class="inline"> 
                    {{ form.as_p}}
                </div>
                <hr>
            {% endfor %}
        </fieldset>
        <button class="btn" type='submit'>{% trans "Save" %}</button>
    </form>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="/static/js/jquery.formset.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
                $('.inline').formset({
                    prefix: "{{ parameter_form.prefix }}",
                 });
        })
    </script>
{% endblock %}
