{% extends "base.html" %}
{% load i18n %}
{% load paginate from pagination %}

{% block menu %}
    {% include 'menu.html' with active='users' %}
{% endblock %}

{% block content %}
<div class="span12">
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <div class="tab-content">
    <div class="tab-pane active" id="data-list">
        <form id='user-action-form' method='POST' action=''>{% csrf_token %}
      <input type="hidden" value="delete" name="action"/>
      <button class="btn delete-btn" type="button"><i class="icon-trash"></i></button>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th><input class="select-all" type="checkbox"></th>
                  <th>{% trans "Name Surname" %}</th>
                  <th>{% trans "Username" %}</th>
                  <th>{% trans "E-mail" %}</th>
                  <th>{% trans "Is active" %}</th>
                  <th>{% trans "Actions" %}</th>
              </tr>
          </thead>
          <tbody>
                {% for obj in object_list %}
                <tr>
                    <td><input type='checkbox' value="{{ obj.pk }}" name="pk"/></td>
                    <td>{{ obj.first_name }} {{ obj.last_name }}</td>
                    <td>{{ obj.username }}</td>
                    <td>{{ obj.email }}</td>
                    <td>
                        {% if obj.is_active %}
                            <i class="icon-ok"></i>
                        {% endif %}
                    </td>
                    <td><a class="btn btn-small" style="margin-right: 30px;" href="{% url 'user-edit' obj.pk %}">
                          <i class="icon-pencil"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" style="text-align:center;">
                        {% trans "No users were created yet. You can register " %}
                        <a href='{% url 'register' %}'>{% trans "here" %}</a>.
                    </td>
                </tr>
                {% endfor %}
          </tbody>
        </table>
      </form>

      <hr/>
      {% paginate request paginator page_obj %}

    </div>
  </div>
</div>
{% include 'damis/_delete_dialog.html' %}
{% endblock %}

{% block javascript_footer %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            window.utils.initDeleteConfirm("#user-action-form");
        });
    </script>
{% endblock %}
