{% extends "base.html" %}
{% load i18n %}
{% get_current_language as lang %}

{% block menu %}
    {% include 'menu.html' with active='users' %}
{% endblock %}

{% block content %}
    {% if message %}
    <div class="offset3 span4">
        <div class="alert alert-success">{{ message }}</div>
    </div>
    {% endif %}
    <div class="offset3 span6">
        <form action="." method="post">{% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type='submit'>{% trans "Save" %}</button>
        </form>
    </div>
{% endblock %}
