{% extends "base.html" %}
{% load i18n %}
{% get_current_language as lang %}

{% block menu %}
    {% include 'menu.html' with active='help' %}
{% endblock %}

{% block content %}

<div class="offset1 span9">
    <!-- 
    <h2>{% blocktrans %}Simple DAMIS use-case{% endblocktrans %}</h2>
<p>{% blocktrans %}Here should be image with its comments.{% endblocktrans %}</p>

    <h2>{% blocktrans %}Workflow components and their descriptions{% endblocktrans %}</h2>
<p>{% blocktrans %}Each available workflow component should be described here.{% endblocktrans %}</p>
    -->
    
    <h2>Duomenų įkėlimas</h2>
    <h4>Failo įkėlimas</h4>
    <p>Galimybė įkelti failą.
    Failus galima pateikti šiais formatais: tab, txt, csv, ARFF ir XML failai
    suarchyvuoti zip formatu. Reikalavimai duomenų failui: atskirų objektų
    požymių įverčiai pateikiami atskirose eilutėse, bei objekto požymių
    įverčiai eilutėje atskiriami tarpais arba specialiais simboliais.</p>

    <h4>Egzistuojantys failai</h4>
    <p>Galimybė pasinaudoti jau į sistemą įkeltais duomenų failais.</p>

    <h4>MIDAS failas</h4>
    <p>Galimybė pasinaudoti MIDAS archyvo viešais duomenų failais.</p>

    <h2>Pirminis apdorojimas</h2>
    <h4>Valymas | Duomenų valymas</h4>
    <p>
    Duomenų valymas – procesas, kuriuo metu yra užtikrinama, kad duomenys turi
    vientisą struktūrą ir yra tinkami apdorojimui. Duomenų valymas susideda iš
    dviejų dalių:
    <ol>
        <li>Patikrinamas duomenų vektorių atributų duomenų tipų atitikimas meta
        informacijoje deklaruotiems duomenų tipams. Jeigu duomenys neturi meta
        informacijos, ji yra sugeneruojama, atlikus duomenų imties analizę. Šio
        patikrinimo metu aptiktos klaidos gali būti taisomos automatiškai arba
        pranešamos naudotojui. Taip iš duomenų yra pašalinamos surinkimo
        klaidos, pavyzdžiui ties skaičiumi įvestas nepageidaujamas simbolis.</li>
        <li>Trūkstamų reikšmių šalinimas. Trūkstamos reikšmės gali būti keičiamos
        standartine ar nurodyta reikšme arba įrašai su trūkstamomis reikšmėmis
        atmetami. Taip yra užtikrinama, kad visi duomenų įrašai turės reikšmes
        ir bus tinkami tolimesniam apdorojimui.</li>
    </ol>
    </p>
    <p>Parametrai:
    <ul>
        <li> <b>Trūkstamų reikšmių šalinimas</b> (boolean) –  jei reikšmė „True“,
        užpildomos trūkstamos reikšmės. Kitaip, tiesiog atnaujinama failo meta
        informacija apie duomenų atitikimą tipams.</li>
        <li> <b>Duomenų tipų atitikimas</b> (boolean) – Patikrinamas duomenų
        vektorių atributų duomenų tipų atitikimas meta informacijoje
        deklaruotiems duomenų tipams. Jei reikšmė „True“, automatiškai
        atnaujinami stulpelių tipai. Kitaip grąžinamas pranešimas apie tipų
        neatitikimus meta informacijai.</li>
    </ul>
    </p>

    <h4>Filtravimas | Duomenų filtravimas</h4>
    <p>Duomenų filtravimas yra tam tikromis savybėmis pasižyminčių įrašų
    atmetimas iš nagrinėjamų įrašų aibės. Pavyzdžiui, galima atmesti
    atsiskyrėlius – stipriai nuo pagrindinės duomenų masės nutolusius ir
    prieštaraujančius jos tendencijoms vektorius.</p>

    <p>Parametrai:
    <ul>
        <li><b>Stulpelio numeris</b> (int) – stulpelio, su kuriuo reikia atlikti
        skaičiavimus, indeksas.</li>
        <li><b>Filtravimo tipas</b> (string) – pasirenkamas filtro tipas
        {„z-factor“ | „quartile“}.</li>
        <li><b>Rezultatas</b> (string) – rezultato tipas : {„outliers“ | „non-outliers“}.</li>
    </ul>
    </p>

    <h4>Skaidymas | Pradinės duomenų aibės skaidymas į smulkesnius poaibius</h4>
    <p>Duomenų skaidymas – pradinės duomenų aibės skaidymas į smulkesnius
    poaibius. Gautuosius poaibius galima apdoroti lygiagrečiai arba nagrinėti
    vieną iš jų, pavyzdžiui imtis gali atspindėti populiacijos dėsningumus.</p>
    <p>Duomenų aibės skaidymo galimi pavyzdžiai: 1. Iš eilės užpildyti kiekvieną
    poaibį. 2. Tolygiai pildyti visus poaibius. 3. Skaidyti į poaibius pagal
    įrašų atributų reikšmes.</p>

    <p>Parametrai:
    <ul>
        <li><b>Skaidymo tipas</b> (string) – skaidymo metodo tipas: {„attr“ | „line“}.
        „attr“  – failas dalinamas pagal nurodyto atributo skirtingas reikšmes,
        „line“ – dalinama į lygias dalis.</li>
        <li><b>Pagal požymį</b> (int) – atributas, naudojamas skaidymui
        (naudojant pasirinkimą „attr“).</li>
        <li><b>Poaibių skaičius</b> (int) – atributas, nurodantis kiek failų
        suskaidyti (naudojant pasirinkimą „line“).</li>
    </ul>
    </p>

    <h4>Transponavimas | Kategorinio atributo išskaidymas į kelis atributus</h4>
    <p>Duomenų transponavimas – kategorinio atributo išskaidymas į kelis
    atributus, skirtus jo subkategorijoms. Pavyzdžiui, kategorinį atributą
    galima išskaidyti į loginę reikšmę turinčius atributus, kurie žymėtų
    „True“, jeigu įrašas priklauso tą atributą atitinkančiai kategorijai ir
    „False“ – priešingu atveju.</p>
    <p>Parametrai:</p>
    <ul>
        <li><b>Stulpelio numeris</b> (int) – stulpelio, su kuriuo reikia atlikti
        skaičiavimus, indeksas.</li>
    </ul> 
    </p>

    <h4>Normavimas | Duomenų normavimas</h4>
    <p>Pradinių duomenų normavimui yra naudojamas transformavimo algoritmas
    „z-vertės normalizavimas“.</p>
    <p>Z-vertės normavimo algoritmu duomenys pakeičiami iš jų išvestomis
    reikšmėmis taip, kad jų vidurkis tampa 0, o dispersija – 1.</p>
    <p>Parametrai:
    <ul>
        <li>-</li>
    </ul>
    </p>

    <h2>Statistiniai primityvai</h2>
    <h4>Statistiniai primityvai | Statistinių primityvų skaičiavimas</h4>
    <p>Duomenų statistiniai primityvai: min, max, vidurkis, standartinis
    nuokrypis, mediana.</p>
    <p>Parametrai:
    <ul>
        <li>-</li>
    </ul>
    </p>

    <h2>Dimensijos mažinimas</h2>
    <h4>PCA | Pagrindinių komponenčių analizė</h4>
    <p>Pagrindinių komponenčių analizė (angl. principal component analysis,
    PCA) yra klasikinis statistikos metodas. Tai tiesinė duomenų
    transformacija, plačiai naudojama duomenų analizei kaip daugiamačių duomenų
    dimensijos mažinimo metodas.</p>
    <p>Pagrindinė pagrindinių komponenčių analizės idėja yra sumažinti duomenų
    dimensiją atliekant tiesinę transformaciją ir atsisakant dalies po
    transformacijos gautų naujų komponenčių, kurių dispersijos yra mažiausios.
    Iš pradžių ieškoma krypties, kuria dispersija yra didžiausia. Didžiausią
    dispersiją turinti kryptis vadinama pirmąja pagrindine komponente. Ji eina
    per duomenų centrinį tašką. Tai taškas, kurio komponentės yra analizuojamą
    duomenų aibę sudarančių taškų atskirų komponenčių vidurkiai. Visų taškų
    vidutinis atstumas iki šios tiesės yra minimalus, t. y., ši tiesė yra kiek
    galima arčiau visų duomenų taškų. Antrosios pagrindinės komponentės ašis
    taip pat turi eiti per duomenų centrinį tašką ir ji turi būti statmena
    pirmosios pagrindinės komponentės ašiai.</p>

    <p>Parametrai:
    <ul>
        <li><b>Projekcijos dimensija</b> (int) – nurodoma sumažinta pradinių duomenų
        dimensija (projekcijos dimensija).</li>
        <li><b>Dispersijos dalis</b> (double) – dispersijos dalis, kurią norima
        išlaikyti.</li>
    </ul>
    </p>

    <h4>SMACOF | SMACOF algoritmas</h4>
    <p>Tai vienas geriausių optimizavimo algoritmų, taikomų daugiamačių skalių
    paklaidos minimizavimui. Algoritmas yra paprastas, bet efektyvus, kadangi
    garantuoja paklaidos funkcijos konvergavimą į lokalų minimumą su tiesiniu
    konvergavimo greičiu.</p>
    <p>SMACOF algoritmui buvo pritaikytas Gauso Zeidelio metodas. Modifikacijos
    esmėnauji projekcijos taškai iteracinio proceso eigoje apskaičiuojami,
    remiantis jau prieš tai toje pačioje iteracijoje apskaičiuotais taškais.
    Tai reiškia, kad Gutmano transformacijos matrica perskaičiuojama po
    kiekvieno pakeisto taško. Nors tokio algoritmo konvergavimo greitis išauga,
    tačiau išauga ir laiko sąnaudos.</p>
    <p>Parametrai:
    <ul>
        <li><b>Projekcijos dimensija</b> (int) – nurodoma sumažinta pradinių duomenų
        dimensija (projekcijos dimensija).</li>
        <li><b>Maksimalus iteracijų skaičius</b> (int) – maksimalus iteracijų skaičius.</li>
        <li><b>Skirtumas tarp paklaidų, gautų tarp gretimų iteracijų</b>
        (double) – Skirtumas tarp paklaidų, gautų tarp gretimų iteracijų.</li>
        <li><b>Zeidelio modifikacija</b> (boolen) – Parametras, kuris nurodo taikyti arba
        netaikyti Zeidelio modifikaciją. reikšmė „True“, jei taikoma Zeidel
        modifikacija; jei nenurodyta kitaip, Zeidel modifikacija nebus taikoma.
        </li>
    </ul>
    </p>

    <h4>DMA | Diagonalinio mažoravimo algoritmas</h4>
    <p> Diagonalinio mažoravimo algoritmas (DMA) yra SMACOF algoritmo
    modifikacija, kurioje naudojama paprastesnė mažoravimo funkcija. SMACOF
    – tai vienas geriausių optimizavimo algoritmų, taikomų daugiamačių
    skalių paklaidos minimizavimui. Modifikacija DMA skirta atvaizduoti
    didesnėms duomenų aibėms.</p>
    <p>Parametrai:
    <ul>
        <li><b>Projekcijos dimensija</b> (int) – nurodoma sumažinta pradinių
        duomenų dimensija (projekcijos dimensija).</li>
        <li><b>Maksimalus iteracijų skaičius</b> (int) – maksimalus iteracijų
        skaičius.</li>
        <li><b>Skirtumas tarp paklaidų, gautų tarp gretimų iteracijų</b> (double) –
        Skirtumas tarp paklaidų, gautų tarp gretimų iteracijų.</li>
        <li><b>Kaimynų skaičius</b> (int) – nurodomas kaimynų skaičius.</li>
    </ul>
    </p>

    <h4>Relative MDS | Santykinių daugiamačių skalių algoritmas</h4>
    <p>Santykinių daugiamačių skalių algoritmas (angl. Relative MDS) skirtas
    didelių aibių bei naujų taškų priklausančių daugiamatei erdvei
    vizualizavimui, naudojant prieš tai apskaičiuotą bazinių taškų
    projekciją.</p>
    <p>Naudojant klasikinį daugiamačių skalių metodą, negalima atidėti naujo taško
    neperskaičiuojant visos turimos duomenų aibės projekcijos. Todėl naujų
    taškų atvaizdavimui gali būti naudojamas santykinių daugiamačių skalių
    algoritmas (SDS). Nors šis metodas nėra toks tikslus kaip SMACOF, tačiau
    jis gali atvaizduoti dideles aibes, tam pareikalaudamas mažai kompiuterio
    skaičiavimo resursų.</p>
    <p>Parametrai:
    <ul>
        <li><b>Projekcijos dimensija</b> (int) – nurodoma sumažinta pradinių duomenų
        dimensija (projekcijos dimensija).</li>
        <li><b>Maksimalus iteracijų skaičius</b> (int) – maksimalus iteracijų skaičius.</li>
        <li><b>Skirtumas tarp paklaidų, gautų tarp gretimų iteracijų</b> (double) –
        Skirtumas tarp paklaidų, gautų tarp gretimų iteracijų.</li>
        <li><b>Bazinių objektų skaičius</b> (int) – bazinių vektorių skaičius.</li>
        <li><b>Strategija</b> (int) – bazinių vektorių parinkimo strategija.</li>
    </ul>
    </p>

    <h4>SAMANN | SAMANN algoritmas</h4>
    <p>SAMANN – specifinė „klaidos skleidimo atgal“ mokymo taisyklė, kuri
    leidžia įprastam tiesioginio skleidimo neuroniniam tinklui realizuoti
    Sammon‘o projekciją mokymo be mokytojo būdu. Sammon‘o projekcija yra
    netiesinis daugelio kintamųjų objektų atvaizdavimo žemesnio matavimo
    erdvėje metodas. Jo idėja: atvaizduoti daugiamačius vektorius mažesnio
    matavimo erdvėje išlaikant santykinai panašius atstumus tarp vektorių.</p>
    <p>Parametrai:
    <ul>
        <li><b>Projekcijos dimensija</b> (int) – nurodoma sumažinta pradinių duomenų
        dimensija (projekcijos dimensija).</li>
        <li><b>Maksimalus iteracijų skaičius</b> (int) – maksimalus neuroninio
            tinklo apmokymo iteracijų skaičius.</li>
        <li><b>Apmokymo aibės dydis</b> (int) – SAMANN neuroninio tinklo apmokymui
        naudojamų pradinės aibės X elementų skaičius.</li>
        <li><b>Paslėptojo sluoksnio neuronų skaičius</b> (int) – SAMANN neuroninio
        tinklo paslėptojo sluoksnio neuronų skaičius.</li>
        <li><b>Mokymosi greičio parametras</b> (double) – mokymosi greičio
        parametro reikšmė (iš intervalo 0,1–10).</li>
    </ul>
    </p>
    <h4>SOM-MDS | Saviorganizuojančių neuroninių tinklų junginys su
        daugiamatėmis skalėmis</h4>
    <p>SOM žemėlapiai naudojami daugiamačiams duomenims vizualizuoti (t. y. rasti
    projekcijas mažesnės dimensijos erdvėje, įprastai plokštumoje) ir
    klasterizuoti. SOM tinklo tikslas – išlaikyti duomenų kaimyniškumus, t. y.
    taškai, esantys arti įėjimo vektorių erdvėje, turi būti atvaizduojami arti
    vieni kitų ir SOM žemėlapyje.</p>
    <p>Parametrai:
    <ul>
        <li><b>Eilučių skaičius</b> (int) – Saviorganizuojančio neuroninio tinklo eilučių
        skaičius.</li>
        <li><b>Stulpelių skaičius</b> (int) – Saviorganizuojančio neuroninio tinklo stulpelių
        skaičius.</li>
        <li><b>Mokymo epochų skaičius</b> (int) – mokymo epochų skaičius.</li>
        <li><b>MDS iteracijų skaičius</b> (int) – MDS iteracijų skaičius.</li>
    </ul>
    </p>

    <h2>Duomenų analizė</h2>
    <h4>SOM | Saviorganizuojantis neuroninis tinklas</h4>
    <p>
    SOM žemėlapiai naudojami ir daugiamačiams duomenims klasterizuoti ir juos
    vizualizuoti, t. y. rasti projekcijas mažesnės dimensijos erdvėje, įprastai
    plokštumoje. SOM tinklo tikslas – išlaikyti duomenų kaimyniškumus, t. y.
    taškai, esantys arti įėjimo vektorių erdvėje, turi būti atvaizduojami arti
    vieni kitų ir SOM žemėlapyje. Kartais gautus rezultatus sudėtinga
    interpretuoti, todėl jie papildomai analizuojami vienu iš daugiamačių
    duomenų projekcijos metodu. Tuo tikslu gali būti naudojamas daugiamačių
    skalių metodas (MDS). Vienas iš nuosekliojo junginio tikslų – pagerinti
    duomenų vizualizavimą, panaudojant saviorganizuojančius neuroninius
    tinklus. Tačiau pagrindinis nuosekliojo junginio tikslas – sumažinti
    skaičiavimo laiką, neprarandant vizualizavimo kokybės, atvaizduojant
    neuronus–nugalėtojus atitinkančius vektorius, gautus taikant SOM ir juos
    vizualizuojant MDS metodu, lyginant su visos duomenų aibės vizualizavimo
    laiku, taikant tik MDS metodą.
    </p>
    <p>Parametrai:
    <ul>
        <li><b>Eilučių skaičius</b> (int) – Saviorganizuojančio neuroninio tinklo eilučių skaičius.</li>
        <li><b>Stulpelių skaičius</b> (int) – Saviorganizuojančio neuroninio tinklo stulpelių skaičius.</li>
        <li><b>Mokymo epochų skaičius</b> (int) – mokymo epochų skaičius.</li>
    </ul>
    </p>

    <h4>MLP | Daugiasluoksnis perceptronas</h4>  
    <p>Daugiasluoksnis perceptronas (DSP) (angl. Multilayer perceptron) yra
    tiesioginio sklidimo neuroninis tinklas, apmokomas klaidos sklidimo atgal
    (angl. error back-propagation) metodu. Daugiasluoksnis perceptronas
    taikomas klasifikavimo uždaviniams spręsti.</p>
    <p>Parametrai:
    <ul>
        <li><b>Paslėptų perceptronų skaičius</b> (string) – sluoksnių perceptronų skaičius.</li>
        <li><b>Maksimalus iteracijų skaičius</b> (int) – maksimalus mokymo iteracijų skaičius.</li>
        <li><b>Mokymo aibės dydis</b> (int) – mokymo objektų skaičius.</li>
        <li><b>Testavimo aibės dydis</b> (int) – testavimo objektų skaičius.</li>
        <li><b>Validavimo aibės dydis</b> (int) – validavimo objektų skaičius.</li>
    </ul>
    </p>

    <h4>C4.5 | C4.5 klasifikatorius</h4>
    <p>
    Sprendimų medžiu vadinamas medžio pavidalo klasifikatorius, priskiriantis
    klasėms daugiamačius vektorius, kurių požymiai gali būti tiek kategoriniai,
    tiek tolydieji kintamieji. Medį sudaro arba lapas, pažymėtas klasės
    numeriu, arba struktūra, apimanti su dviem ar daugiau pomedžių sujungtą
    sprendimo priėmimo mazgą. Pastarosios rūšies mazgai apibrėžiami testo
    pavidalu, o jų pomedžiai atitinka visas įmanomas šio testo baigtis.</p>

    <p>Duotas vektorius klasifikuojamas vykdant rekursyvų procesą, pradedamą
    nuo medžio šaknies. Jei dabartinis nagrinėjamas mazgas yra lapas, vektoriui
    priskiriamas su juo siejamas klasės numeris. Kita vertus, jeigu tai
    sprendimo priėmimo mazgas, vektoriui pritaikomas šio mazgo testas ir
    leidžiamasi vienu lygiu gilyn – į pomedį, atitinkantį gautąją testo baigtį.
    Procesas baigiamas pasiekus lapo mazgą, kitaip sakant, kai nustatoma
    vektoriaus priklausomybė klasei.</p>
    <p>Parametrai:
    <ul>
        <li><b>Pasikliovimo lygmuo</b> (double) – pasikliovimo lygmuo, įvertinant klaidos tikimybės pasikliautinąjį intervalą.</li>
        <li><b>Mokymo aibės dydis</b> (int) – mokymo objektų skaičius.</li>
        <li><b>Testavimo aibės dydis</b> (int) – testavimo objektų skaičius.</li>
    </ul>
    </p>

    <h4>K-means | k-vidurkių klasterizavimo metodas</h4>
    <p>K-vidurkių metodas yra grupavimo algoritmas, skirtas suskirstyti duomenų
    aibę į kompaktiškas grupes, esančias kuo toliau viena nuo kitos. Paprastai
    nurodomas parametras k, pasakantis į kiek grupių reikia padalinti vektorių
    aibę. Čia aptariamas kitas variantas, leidžiantis algoritmui pačiam
    nustatyti, koks grupių skaičius, nedidesnis už kMax, yra optimalus.
    Algoritmas veikia didindamas grupių skaičių k nuo 2 iki kMax ir kiekvienu
    atveju skaičiuodamas gauto padalijimo tinkamumo įvertį. Padalijimas,
    turėjęs geriausią įvertį, pateikiamas kaip algoritmo veikimo
    rezultatas.</p>
    <p>Parametrai:
    <ul>
        <li><b>Maksimalus iteracijų skaičius</b> (int) – maksimalus iteracijų
        skaičius.</li>
        <li><b>Maksimalus klasterių skaičius</b> (int) – maksimalus galimas grupių
        skaičius.</li>
    </ul>
    </p>

    <h2>Rezultatų peržiūra</h2>
    <h4>Techninė informacija</h4>
    <p>Gautų rezultatų techninė informacija.</p>

    <h4>Duomenų grafinis vaizdavimas</h4>
    <p>Gautų rezultatų vaizdavimas.</p>

</div>

{% endblock %}
