{% load i18n %}
<div class="span12 navbar-align">
    <div class="navbar">
        <div class="navbar-inner">
        <ul class="nav">
            <li class="{% if active == "home" %}active{% endif %}"><a href="{% url 'about' %}"><img src="/static/img/home_icon.png"/></a></li>
            <li class="{% if active == "experiments" %}active{% endif %}"><a href="{% url 'experiment-new' %}">{% trans "Experiments" %}</a></li>
            <li class="{% if active == "data" %}active{% endif %}"><a href="{% url 'dataset-list' %}">{% trans "File list" %}</a></li>
            {% if user.is_superuser %}
                <li class="{% if active == "components" %}active{% endif %}"><a href="{% url 'component-list' %}">{% trans "Components" %}</a></li>
                <li class="{% if active == "users" %}active{% endif %}"><a href="{% url 'user-list' %}">{% trans "Users" %}</a></li>
            {% endif %}
        </ul>
        <ul class="nav pull-right">
            <li class="{% if active == "help" %}active{% endif %}"><a href="{% url 'help' %}">{% trans "Help" %}</a></li>
            <li class="{% if active == "faq" %}active{% endif %}"><a href="{% url 'faq' %}">{% trans "FAQ" %}</a></li>
            
            {% if user.is_authenticated %}
                <li><a style="padding: 10px 5px 10px 10px;" href="{% url 'profile-settings' %}">{{ user }}</a></li>
                <li><a style="padding: 10px 3px 10px 3px;" href="{% url 'logout' %}"><span class="helptext">{% trans "(Logout)" %}</span></a></li>
            {% else %}
                <li class="{% if active == "login" %}active{% endif %}"><a href="{% url 'login' %}">{% trans "Log in" %}</a></li>
            {% endif %}
        </ul>
        </div>
        <div style="margin-top: 6px; margin-right: 8px;">
            <a href="/en/" style="float: right; margin-left: 8px"><img class="flag {% if lang == en %}active{% endif %}" src="/static/img/en.png"/></a>
            <a href="/lt/" style="float: right; margin-left: 8px"><img class="flag {% if lang == lt %}active{% endif %}" src="/static/img/lt.png"/></a>
        </div>
    </div>
</div>
