{% load i18n %}
{% get_current_language as lang %}
<div class="span12 navbar-align">
    <div class="navbar">
        <div class="navbar-inner">
        <ul class="nav">
            <li class="{% if active == "home" %}active{% endif %}"><a href="{% url 'home' %}"><img src="/static/img/home_icon.png"/></a></li>
            <li class="{% if active == "experiments" %}active{% endif %}"><a href="{% url 'experiment-list' %}">{% trans "Analysis" %}</a></li>
            <li class="{% if active == "data" %}active{% endif %}"><a href="{% url 'dataset-list' %}">{% trans "Datasets" %}</a></li>
            <li class="{% if active == "algorithms" %}active{% endif %}"><a href="{% url 'algorithm-list' %}">{% trans "Algorithms" %}</a></li>
        </ul>
        <ul class="nav pull-right">
            <li class="{% if active == "help" %}active{% endif %}"><a href="{% url 'help' %}"><i class="icon-question-sign"></i></a></li>
            
            {% if user.is_authenticated %}
                <li><a href="/{{ lang }}/logout/">{{ user }} <span class="helptext">{% trans "(Logout)" %}</span></a></li>
            {% else %}
                <li class="{% if active == "login" %}active{% endif %}"><a
                    href="/{{ lang }}/login/">{% trans "Log in" %}</a></li>
            {% endif %}
        </ul>
        </div>
        <div class="pull-right" style="margin-top: 6px; margin-right: 8px;">
            <a href="/lt/"><img class="flag {% if lang == lt %}active{% endif %}" src="/static/img/lt.png"/></a>
            <a href="/en/"><img class="flag {% if lang == en %}active{% endif %}" src="/static/img/en.png"/></a>
        </div>
    </div>
</div>
